.container{
    height: calc(100vh - 24px);
    width: calc(100vh - 24px);
    align-self: center;
    margin: 12px auto;
    display: flex;
}

.row {
    flex: auto;
    display: flex;
    flex-direction: column;
}

.square {
    flex: auto;
}
    
div {
    border: solid black 1px;
}